<ion-view view-title="Welcome">
  <ion-content class="padding">
    <h2>Welcome to the KW Humane Society Adopt a Pet App</h2>
    <p>
    Ready to welcome a new friend into your home? Browse our currently available animals. Use the tabs to find Dogs, Cats, and other Small Animals that are available for adoption today.
    </p>
    <p>
   Adopting from the Kitchener-Waterloo Humane Society (KWHS) is a wonderful way to give an orphaned pet a forever home. At KWHS we have a deep understanding of the temperament and health of the animals in our care.

Our knowledgeable Adoption Counsellors can assist you in making the best choice possible for you and your family.
    </p>
    <p>
      If you are interested in adopting one of these animals, please consider filling out an application at www.kwhumanesociety.com or contact us at 

250 Riverbend Drive, Kitchener, Ontario N2B 2E9
Phone: (519) – 745 – 5615
Fax: (519) – 745 – 3224
E-mail: info@kwhumane.com
: 
    </p>
  </ion-content>
</ion-view>
